<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TMDB Watchlist.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31FA035226146CEF0075DAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FA036B26146CF20075DAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31FA037626146CF20075DAED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
